@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.address-input {
  display: block;
  transition: all 2s;
  outline: none;
  border: 2.5px solid black;
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;

  &--hidden {
    display: none;
  }
}

.wrapper {
  width: 100%;
  height: calc(100% - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  background-image: url("../../../assets/urna.jpg");
  background-size: 100%;
  background-position: 0 280px;
  background-repeat: no-repeat;
}

a {
  color: rgb(52, 54, 147);
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}
