
<div class="header">
  <h1 class="header-title">Voľby do Európskeho parlamentu 2019</h1>
  <img class="logo" src="../../../assets/eu.svg" />
  <button mat-stroked-button routerLink="/parties">Zoznam kandidátov</button>
</div>

<div class="wrapper">
  <h2>Hľadáš svoju volebnú miestnosť?</h2>
  <main class="text-center">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <input
        #addressInput
        class="address-input"
        [class.address-input--hidden]="!showAddress"
        name="address"
        type="text"
        placeholder="Adresa trvalého bydliska"
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
    </form>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of (filteredOptions | async)" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <p><a (click)="setAddressVisible()">Volím vo svojom okrsku</a> / <a routerLink="/voting-place">Mám hlasovací preukaz</a></p>
  </main>
</div>
