/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat-core();

$app-primary: mat-palette($mat-grey, 50);
$app-accent: mat-palette($mat-grey, 50);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
